@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, div,section{ width: 100%;}
a{ 
    text-decoration: none; 
    color: rgb(12, 6, 52);
}
.white{ color: #39d7c4;}
ul li{ list-style-type: none;}
h1,h2,h3{ 
    font-family: 'Montserrat', sans-serif; 
    letter-spacing: 0.5px;
}

.flex{ display: flex;}
.direction-column{
    flex-direction: column;
}
p,span{
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
a{
    letter-spacing: .5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.container{
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
}
.display-none{
    display: none;
}
.height-section{ height: 675px;}

.justify-content-center{ justify-content: center;}
.align-item-center { align-items: center;}
.hidden{ visibility: hidden;}


/* css footer  */
.footer{
    height: 300px;
    width: 100%;
    border-top: 1px solid rgb(4, 33, 156);
}
.footer-container{
    max-width: 1320px;
    height: calc(75px*3);
    margin: 5vh auto;
    justify-content: space-between;
}
.footer-item{
    color: #247367;
    max-width: 25rem;
}
.footer-item>.footer-logo img{
    width: 20rem;
}
.footer-item>.footer-logo p{
    margin-left: 1rem;
    cursor: context-menu;
}
.footer-cover,.footer-follow{
    line-height: 1.8;
    cursor: context-menu;
}
.footer-item h3{ color: rgb(4, 33, 156);}
.footer-item p a{
    font-weight: 500;
    color: #247367;
}
/* css navigator  */

.section-navigator{
    transition: 0.5s;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 75px;
}
.section-navigator.sticky{
    background-color: #fff;
}
.navigator{
    height: 75px;
    width: 1320px;
    margin: 0 auto;
}
.logo-container{
    width: fit-content;
}
.logo{
    height: 100%;
    width: 144px;
}

.list-item a{transition: 0.3s;}
.parents{
   width: 60%;
   justify-content: space-around;
   align-items: center;
}
.navigator ul li:hover :not(a){
    color: rgb(57, 151, 57);
}
#add{
    font-size: 2rem;
    display: none;
}
@media (max-width: 850px) {
    .footer-item>.footer-logo img{
        width: 30vw;
    }
    .section-navigator{
        width: 100vw;
    }
    .section-navigator .navigator{
        width: 100vw;
    }
}
@media (max-width: 600px){
    .section-navigator{
        width: 100%;
        height: 10vh;
        background-color: white;
    }
    .section-navigator.show .navigator>.parents {
        display: block;
    }
    .navigator{
        width: 100vw;
        flex-direction: column;
        position: relative;
    }
    .logo-container{
        width: 100vw;
        height: inherit;
    }
    .logo{
        height: 100%;
        width: 30vw;
    }
    .logo img{
        width: 144px;
    }
    #add{ 
        width: 35vw;
        display: block;
    }
    ion-icon{ 
        cursor: pointer;
        margin-left: 3vw;
    }
    .parents{
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        position: absolute;
        top: 10vh;
        z-index: 10000;
        justify-content: unset;
        align-items: unset;
        background-color: white;
        display: none;
    }
    .parents .list-item{
        margin: 3vh 0 3vh 3vw;
        font-size: 1.4rem;
    }
}