.section-intro{
    position: relative;
    top: 10vh;
    background-image: url(../image/game_bgr_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-intro>.container{
    justify-content: space-around;
    position: relative;
}
.section-intro>.container .left,.right{
    width: 40vw;
    height: fit-content;
    position: absolute;
}
.section-intro>.container .left{
    left: 0;
    background-color: rgba(28, 25, 61, 0.8);
    color: #39d7c4;
    height: 40vh;
    bottom: 5vh;
}
.section-intro>.container .left .review-item{
    margin: 3vh 0 3vh 1vw;
    width: 38vw;
}
.section-intro>.container .right{
    right: 0;
    bottom: 10vh;
}

.section-about-game{
    position: relative;
    top: 10vh;
}
.section-about-game> .container{
    justify-content: space-between;
    height: 80vh;
}
.section-about-game>.title{
    height: 10vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: rgb(13, 69, 79);
}
.left-ag{
    width: 35vw;
    height: 100%;
}
.option-box{
    margin: 3vh 0;
    padding: 1vh;
    width: 17.5vw;
    transition: 0.2s ease;
    cursor: pointer;
}
.option-box h3{ margin-left: 1vw;}
.option-box.active{
    border-left: 3px solid red;
    color: rgb(232, 155, 155);
}
.option-box:hover{
    color: rgb(232, 155, 155);
}
.right-ag{
    width: 50vw;
    margin-top: 4vh;
    height: fit-content;
    overflow: hidden;
}
.right-ag .content{
    width: inherit;
    position: relative;
    display: none;
}
.right-ag .content .thumb{
    width: inherit;
}
.right-ag .content .text-area{
    position: absolute;
    width: inherit;
    height: fit-content ;
    z-index: 10000;
    bottom: 0;
    padding-bottom: 3vh;
    padding-top: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: context-menu;
    
}
.right-ag .content .text-area p{
    width: 45vw;
    margin: 0 auto;
}

.footer{
    position: relative;
    top: 10vh;
}