.section-intro{ 
    background-image: url(../image/Intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}
.intro-container{
    background-color: white;
    width: 413px;
    height: 166px;
    text-align: center;
    border-radius: 12px;
    display: none;
    cursor: context-menu;
}
.intro-container h2{
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
    color: rgb(220, 184, 133);
    letter-spacing: 1px;
}
.intro-container p{
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}
.section-formation{
    background-color: #1c233d;
    color: white;
}
.right{
    width: 60vw;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
}
.des-box{
    width: 40vw;
    height: max-content;
    margin-left: 5rem;
    font-size: 1.3rem;
    cursor: pointer;
}
.des-box.active .icon-info{
    background-color: #39d7c4;
    color: #fff;
}
.icon-info{
    font-size: 24px;
    background-color: white;
    color: #39d7c4;
    padding: 0.8rem;
    margin-right: 0.7rem;
    border-radius: 12px;
    transition: 0.5s;
}
.des-box:hover .icon-info{
    background-color: #39d7c4;
    color: #fff;
}
.question{
    margin: 0 auto;
    width: fit-content;
    padding-top: 3rem;
    text-transform: uppercase;
    cursor: context-menu;
}
.left{
    width: 40vw;
    height: 80%;
    position: relative;
}
.left .content{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    position: absolute;
    /* background-color: black; */
}
.left .content .thumb,.text-area{
    width: fit-content;
    height: fit-content;
}
.left .waifu-content .thumb{
    max-width: 15vw;
    border: 3px solid #39d7c4;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
.left .novel-content .thumb{
    max-width: 20vw;
}
.left .content .text-area{
    height: 50%;
    justify-content: space-around;
    flex-direction: column;
}
.left .game-content .thumb{
    max-width: 25vw;
}
.left .content .text-area .btn-link{
    background-color: #1c233d;
    border: 1px solid #39d7c4;
    border-radius: 800px;
    padding: 1rem 1.5rem;
    width: fit-content;
    transition: 0.3s ease-in-out;
}
.left .content .text-area .btn-link:hover{
    background-color: #39d7c4;
    color: #1c233d;
}
.tag{
    height: 40vh;
    font-size: 8rem;
    font-style: italic;
    color: rgb(220, 184, 133);
    cursor: context-menu;
}